/* style.css에는 font-family와 같이 모든 스크린에 적용될 수 있는 스타일을 적는다. */
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway:wght@400;600&display=swap');
@import "variables.css";

/* Components */
@import "components/badge.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/redpoint.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat-room.css";
/* 이렇게 하면 style.css파일은 다른 css파일을 추가하는 파일로 사용가능 */
body {
    font-family: 'Homemade Apple', cursive;
    font-family: 'Raleway', sans-serif;
    height: 1000vh;
    color: #2F363E;
}
.main-screen{
    padding: 0px var(--horizontal-space);
}
.empty{
    opacity:0;
}