.find-icons{
    display:flex;
    justify-content: space-between;
}
.find-icons_icon{
    display:flex;
    flex-direction:column;
    align-items: center;
}
/* class없이 icon 크기 바꾸는법 */
.find-icons_icon i{
    font-size:35px;
    /* icon의 크기를 font-size를 이용해서 조절할 수 있다!!*/
}
.find-icons_icon span{
    margin-top:18px;
}
/*border는 마지막에 넣어줄래  */
/* redpoint의 위치 설정+relative대상 설정 */
.screen-header_icons-dot {
    left: 22px;
    bottom: 19px;
}
.screen-header_icons-link{
    position:relative;
}