#friends-display-link{
    text-align: center;
    /* 이것만으로는 가운데 정렬 안됨. */
    display:block;
    background-color: #FAFAFA;
    padding:15px 0px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -15px;
    /* screen-header에서 margin-bottom을 줌으로써 friends창에서도 link와 그만큼의 간격이 생기니까 friend창에만 있는 display-link를 활용해서 -15px을 적용함으로써 간격을 다시 좁힌다. */
}
#friends-display-link i{
    color:#D5D5D5;
    margin-left:15px;
}

.friends-screen_channel{
    margin-top:25px;
    padding-top: 15px;
    border-top: var(--main-border);
}
/* .friends-screen_channel-header{
    margin-top:20px;
} ------> class를 여러번 쓰지말고 주어진 class 안에서 할 수 있는 방법 생각하기. channel에서 padding주는게 더 나음.*/
.friends-screen_channel-header{
    margin-bottom:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-grey);
}

/* Friends가 적혀있는 header옆의 마진이 다른 태그들에도 다 적용되기 때문에 해당 마진을 변수로 저장한다. */
/* .friends_screen{
    padding: 0px var(--horizontal-space);
} */

/* splash screen 만들기 */
#splash-screen{
    background-color: var(--yellow);
    /* splash 스크린을 맨 앞으로 올린다.-> absolute//여기선 body에 기준해서 정렬하기를 원하므로 따로 relative를 설정하지 않는다. */
    position:absolute;
    top:0;
    height:100vh;
    width:100vw;
    z-index: 110;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:65px;
    color:#3C1E1E;
    animation: hidesplashscreen 0.4s 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes hidesplashscreen{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        visibility:hidden;
    }
}