.icon-row{
    display:flex;
    justify-content: space-between;
}
.icon-row_icon{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 25vw;
}
/* class없이 icon 크기 바꾸는법 */
.icon-row_icon i{
    font-size:35px;
    /* icon의 크기를 font-size를 이용해서 조절할 수 있다!!*/
}
.icon-row_icon span{
    margin-top:18px;
}
.more-screen .more-icon{
    margin: 0px -25px;
}
.find_screen .icon-row{
    margin: 0px -25px;
}


.icon-row_icon i, .icon-row_icon span{
    height:50%;
    /* 위에 이거 안하면 아이콘이 공간 없을 때 위로 올라감. */
    /* display:block; */
    text-align:center;
}