.nav {
    /* nav바가 그 자리에 계속 고정되도록 하는 법 */
    position: fixed;
    bottom: 0;
    /* 그런데 이렇게 하면 width가 없어져버림 */
    width: 100%;
    background-color: #F9F9F9;
    padding: 20px 40px;
    /* 마법의 한줄 */
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav_list {
    /* display:flex; 적용안되는 이유? nav_list에 적용해줘야함. nav의 자식은 nav_list라 한덩어리일 뿐임. */
    display: flex;
    justify-content: space-between;
}

.nav_link {
    color: #2F363E;
    position: relative;
}

.nav_notification {
    background-color: tomato;
    width: 30px;
    height: 30px;
    /* width, height적용안되는 이유? nav_notification은 span이라서*/
    /* display: flex;를 써줌으로써 해결되기때문에 display: block;는 지움.*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    /* icon위에 notification올리기-> 
    transform: translatex(20px) translatey(-45px); */
    position: absolute;
    left: 16px;
    bottom: 15px;
}

/* absolute로 같은 선상에 겹쳐지게 놨으니까 span을 아이콘 앞에쓰든 뒤에쓰든 결과값은 똑같음 */
.fa-ellipsis-h+.nav_notification {
    width: 7px;
    height: 7px;
    left: 30px;
    bottom: 28px;
}